form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.card {
    border: 2px solid black;
    width: 350px;
    height: 350px;
}


button {
    width: 100px;
    margin-top: 20px;
}
.progress-container {
    position: relative;
    border: 1px solid black;
    height: 50px;
}
.progress-line {
    position: absolute;
    background-color: tomato;
    margin-top: 20px;
    height: 100%;
}
.cards_container {
    display: flex;
    gap: 20px;
}
.cards_container img {
    width: 70%;
    height: 250px;
    margin: 10px;
    object-fit: cover;
}