.workers_form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.card {
    border: 2px solid rgb(121, 173, 232);
    width: 300px;
    height: 450px;
}

button {
    width: 100px;
    margin-top: 20px;
}
.progress-container {
    width: 300px;
    position: relative;
    margin-top: 20px;
    border: 2px solid rgb(121, 173, 232);
    height: 20px;
}
.progress-line {
    position: absolute;
    background-color: rgb(121, 173, 232);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    height: 100%;
}
.cards_container {
    display: flex;
    gap: 20px;
}
.cards_container img {
    width: 70%;
    height: 250px;
    margin: 10px;
    object-fit: cover;
}